{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="testimonial section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto col-11">
                <h2 class="text-center">More About, <br> <span>RIOT</span> Inc.</h2>

                <div class="slick-testimonial">
                    <div class="slick-testimonial-caption">
                        <p class="lead">Its our turn</p>
                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <span>KEEM, <br><strong class="text-muted">Creative Director</strong></span>
                        </div>
                    </div>

                    <div class="slick-testimonial-caption">
                        <p class="lead">Persistence is very important. You should not give up unless you are forced to give up. - Elon Musk</p>
                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <span>OM4R,  <br><strong class="text-muted">Web Dev.</strong></span>
                        </div>
                    </div>

                    <div class="slick-testimonial-caption">
                        <p class="lead">Fashion is art from true meditation</p>
                        <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <span>Big_Juixe, <br><strong class="text-muted">Head of Operations.</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}